.container
  .row
    .col-md-4
      .form-inline
        .form-group
          %input.input-xxlarge.form-control{:placeholder => "Ingredientes", :type => "text"}
          %button.btn.btn-success{:type => "submit"} Buscar
.container
  .row
    .col-md-4
