- model_class = Recipe
.row
  %h4 Resultados con 100% de ingredientes
  - @recipes.each do |recipe|
    - if recipe != @recipes.last
      %br
      .col-md-4
        = recipe.title
        %br
        = image_tag recipe.image_url, size: "100x100"
  %br
  %br
  %h4 Sugerencia con 80% de ingredientes
  .col-xs-2
    = @recipes.last.title
    %br
    = image_tag @recipes.last.image_url, size: "100x100"
      
