- model_class = Recipe
.page-header
  %h1 Resultados
.row
  - @recipes.each do |recipe|
    .col-md-4
      %p
        = link_to recipe_path(recipe.id)
        = recipe.title
        = recipe.image_url
